<div id="faq" class="c-faq">
    <h2>The Basics</h2>
    <div class="accordion">
        <p>What is CBD?</p>
    </div>
    <div class="panel">
        <p>CBD oil is derived from hemp plants that have high levels of cannabidiol (CBD) while having low levels of
            THC. At Kilter Life, our CBD oils always have less than 0.3% THC. These extracts can be used for a variety of
            purposes. The cannabidiol (CBD) content of various CBD oil products across the entire market varies
            tremendously. This is because manufacturers source from hemp plants grown around the world, and also because
            they utilize different cultivation and extraction techniques. We produce CBD oil with a high concentration
            of CBD and THC levels below 0.3%.</p>
    </div>

    <div class="accordion">
        <p>What is CBD Oil?</p>
    </div>
    <div class="panel">
        <p>CBD oil is derived from hemp plants that have high levels of cannabidiol (CBD) while having low levels of
            THC. At Kilter Life, our CBD oils always have less than 0.2% THC. These extracts can then be used in paste
            form, or mixed with other oils such as hemp seed oil, to lower the viscosity of the extract. The cannabidiol
            (CBD) content of CBD oil varies tremendously, since the manufacturers use a varying assortment of hemp
            plants and preparation techniques. We produce CBD oil with a high concentration of CBD and containing 0.02%
            THC.</p>
    </div>

    <div class="accordion">
        <p>How is our CBD oil manufactured?</p>
    </div>
    <div class="panel">
        <p>Our Hemp is grown and Harvested organically in Oregon. At Kilter Life we get out cbd from solvent free CO2
            extraction.</p>
    </div>
    <div class="accordion">
        <p>What is the difference between Hemp & Marijuana?</p>
    </div>
    <div class="panel">
        <p>Scientifically, industrial Hemp and Marijuana are the same plant, with a genus and species name of Cannabis
            Sativa. They have a drastically different genetic profile though. Industrial Hemp is always a strain of
            Cannabis sativa, while marijuana can be Cannabis sativa, Cannabis indica, or Cannabis ruderalis. The major
            difference is how industrial hemp has been bred compared to a marijuana form of Cannabis sativa. Typically
            speaking, industrial hemp is very fibrous, with long strong stalks, and barely has any flowering buds, while
            a marijuana strain of Cannabis sativa will be smaller, bushier, and full of flowering buds. However, newer
            industrial hemp varieties in the USA are being bred to have more flowers and higher yields of cannabinoids
            and terpenes, such as our Kentucky hemp we’re now using! Most of the time, marijuana has a high amount of
            THC and only a very low amount of CBD. Hemp, on the other hand, naturally has a very high amount of CBD in
            most instances, and only a trace amount of THC. Fortunately, the cannabinoid profile of hemp is ideal for
            people looking for benefits from cannabis without the ‘high.’ Hemp is used for making herbal supplements,
            food, fiber, rope, paper, bricks, oil, natural plastic, and so much more, whereas marijuana is usually used
            just recreationally, spiritually, and medicinally. The term cannabis oil can refer to either a marijuana or
            hemp derived oil, since marijuana and hemp are two different forms of cannabis.</p>
    </div>
    <div class="accordion">
        <p>Is CBD Oil Legal?</p>
    </div>
    <div class="panel">
        <p>CBD from hemp is widely available across the USA. In 2018, updates to the U.S. Farm Bill legalized the
            commercial cultivation of hemp under certain regulations. Kilter Life CBD products are sourced from
            American-grown, high-CBD industrial hemp. We proudly offer free shipping, and bulk wholesale purchasing
            options on all our products.</p>
    </div>
    <div class="accordion">
        <p>How Should I store my CBD? How long does it last?</p>
    </div>
    <div class="panel">
        <p>For the best shelf life please store in a cool dark area, this will assure there is no loss in potency. Don’t
            allow to sit in direct sunlight. If properly stored CBD has around a 1 year shelf life!</p>
    </div>
    <div class="accordion">
        <p>Will I fail a drug test I take CBD products</p>
    </div>
    <div class="panel">
        <p>Kilter Life CBD oil is sourced from USA-grown industrial hemp, and may contain trace THC levels below 0.3%.
            Kilter Life does not guarantee that you will or will not pass a drug screen after consuming our products. It
            is possible that the trace THC content may show up on various drug screenings.</p>
    </div>
    <div class="accordion">
        <p>Will I get high?</p>
    </div>
    <div class="panel">
        <p>No. Our Hemp Extract products are all made from industrial hemp, which only has trace amounts of THC, so
            there is no psychoactive effect from taking our products.</p>
    </div>
    <div class="accordion">
        <p>Returns & Refunds</p>
    </div>
    <div class="panel">
        <p>If you are not fully satisfied with your purchase, you may request a full refund on the purchase price within
            30 days. Customer is responsible for return shipping. </p>
    </div>
</div>

<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("upArrow");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>