<div class="c-footer flex-c jcai">
    <p>CONTACT US</p>
    <div class="flex">
        <p>801-931-1130</p>
        <p>help@kilter.life</p>
    </div>
    <div class="flex jcai">
        <a href="/pages/shop">Shop</a>
        <a href="/pages/learn">Learn</a>
        <a href="/pages/help">Help</a>
        <a href="/pages/return-refund-policy">Returns</a>
    </div>
    <p class="disclaimer">* Products contain less then 0.3% THC and are legal in all 50 states.</p>
    <p class="disclaimer">* Representations regarding the efficacy and safety of Kilter Life have not been evaluated by the Food and Drug Administration. The FDA only evaluates foods and drugs, not supplements like this product.</p>
    <div class="flex jc">
        <a class="disclaimer" href="">Terms and Conditions</a>
        <a class="disclaimer" href="">Privacy Policy</a>
    </div>
</div>