<div id="slideout" class="c-hp--slideout flex jc">
    <div id="slideout-c" class="slideout-c flex-c ai">
        <a href="/pages/shop">Shop</a>
        <a href="/pages/quality">Quality</a>
        <a href="/pages/learn">Learn</a>
        <a href="/pages/help">Help</a>
    </div>
</div>
<div class="c-header flex-c">
    <div class="fs-bar flex jcai"><p>FREE Shipping on all orders + use code HOLIDAYS for 20% off</p></div>
   <div class="flex">
    <p  onclick="closeNav()" id="x">X</p>
    <img onclick="openNav()" id="hamburger" src="https://ucarecdn.com/9c1349b6-a4f5-437d-9105-4d3dc081f18e/hamburgericon.png" alt="">
    <a href="/"><h2 class="kilter">Kilter Life</h2></a>
    <img onclick="openCart()" src="https://ucarecdn.com/9a2f6e32-2f2a-4030-aa5b-2cee198de212/shoppingcart.svg" alt="">
   </div>
</div>

<script>
function openNav() {
  document.getElementById('hamburger').style.display = 'none';
  document.getElementById('x').style.display = 'block';
  document.getElementById('slideout').style.width = `${window.innerWidth}px`;
  $('.c-header').removeClass('dark-header')
  $('.c-header').addClass('open-header')
  setTimeout(function(){
    document.getElementById('slideout-c').style.display = 'flex';
  }, 200);
}

/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById('hamburger').style.display = 'block';
  document.getElementById('x').style.display = 'none';
  document.getElementById('slideout').style.width = "0";
  document.getElementById('slideout-c').style.display = 'none';
  $('.c-header').removeClass('open-header');
  if(window.location.href.includes('shop') || window.location.href.includes('help') ) {
      $('.c-header').addClass('dark-header')
  }
}


function openCart() {
    $('.slideout-cart-cover').addClass("slide-opacity-cover");
    $('.c-slideout-cart').addClass("openCart");
    $('.close-cart').css('display', 'block')
}
function closeCart() {
    $('.slideout-cart-cover').removeClass("slide-opacity-cover");
    $('.c-slideout-cart').removeClass("openCart");
    $('.close-cart').css('display', 'none')
}
</script>

