<div class="c-hp flex-c">
    <div class="c-hp--text flex-c jcai">
        <h2>A CBD Blend for Everyone.</h2>
        <p>Get started by choosing an area in which you need help</p>
    </div>
    <div class="c-hp--links flex jcai">
        <div class="flex"> 
            <a href="/pages/shop#Peace" class="c-hp--link-peace flex jcai"><p>Anxiety</p><img src="https://ucarecdn.com/e37242fa-90f2-49c3-abd2-9c1c359f8120/happiness.png" alt=""></a>
            <a href="/pages/shop#Focus" class="c-hp--link-focus flex jcai"><p>Focus</p><img src="https://ucarecdn.com/8a0b8510-5cc9-459e-be33-bc52ff482e52/idea.png" alt=""></a>
        </div>
        <div class="flex">
            <a href="/pages/shop#Sleep" class="c-hp--link-sleep flex jcai"><p>Sleep</p><img src="https://ucarecdn.com/a9058dc3-b994-4ed3-a96d-bd6c01c4007c/moon.png" alt=""></a>
            <a href="/pages/shop#Comfort" class="c-hp--link-comfort flex jcai"><p>Pain</p><img src="https://ucarecdn.com/5b16b137-13bf-4eeb-b73c-b0741cd770e5/heartbeat.png" alt=""></a>
        </div>
    </div>
    <a href="/pages/learn" class="c-hp--learn flex jcai"><p>Learn More About CBD</p><img src="https://ucarecdn.com/de66832c-9ca0-4b29-9376-fe7b20e82cc0/outputonlinepngtools.png" alt=""></a>
</div>

