<div class="c-hp-benefits flex-c">
   <div class="c-hp-benefits--text">
    <h2>Every Product</h2>
    <p>Has All The Amazing Benefits of CBD</p>
   </div>
   <div>
        <div>
            <img class="lazy-image" src="https://ucarecdn.com/a1c79f13-0d43-46a2-bcc0-d45604050977/joeljasminforestbirdznoL1m6MD_kunsplash1.jpg" alt="">
            <p>Reduce pain and inflamation to help you do the things you love</p>
        </div>
        <div>
            <img class="lazy-image"  src="https://ucarecdn.com/df284c2c-7da4-42a4-bbe4-8c2736bd83ab/johnmarkarnoldmvNRuUKs6NAunsplash1.jpg" alt="">
            <p>Quiet the mind and find more stillness in everyday life</p>
        </div>
        <div>
            <img class="lazy-image"  src="https://ucarecdn.com/64fd6440-dd05-42b2-a1f0-87d5c79d6e8a/sebastiansammerakv8F2f_Vz4unsplash1.jpg" alt="">
            <p>Fall asleep quicker and wake up feeling better.</p>
        </div>
   </div>
</div>