<div class="c-hp-hero">
    <div class="c-hp-hero--text flex-c">
        <h2>CBD</h2>
        <p>Exactly How You Need It</p>
        <a href="#hp-shop">Get Started</a>
    </div>
    <div class="opacity-cover"></div>
</div>