  <div class="c-product--info">
    <div>
      <h2>Experience the purest source of cannabinoids, terpenes, and antioxidants. Formulated to help enhance your daily lifestyle.</h2>
      <div class="c-product--icons">
        <div>
          <div class="c-product--icon accent-color">
            <img src="https://ucarecdn.com/6dcdb233-9724-4ff4-b056-411b9c3c46c3/iconfinder_nongmoorganicproduceplant_19687152.png" alt="non-gmo">
            <p>Non-GMO</p>
          </div>
          <div class="c-product--icon accent-color">
            <img src="https://ucarecdn.com/64e56e1b-6e2a-40ce-a940-8230247d040f/glutenfree.png" alt="gluten-free">
            <p>Gluten Free</p>
          </div>
        </div>
        <div>
          <div class="c-product--icon accent-color">
            <img src="https://ucarecdn.com/fc0ee477-b98b-4f0a-ad5e-a3c094b336d9/canna.png" alt="cannabinoids">
            <p>Cannabinoids</p>
          </div>
          <div class="c-product--icon accent-color">
            <img src="https://ucarecdn.com/de66832c-9ca0-4b29-9376-fe7b20e82cc0/outputonlinepngtools.png" alt="leaf">
            <p>Natural Ingredients</p>
          </div>
        </div>
      </div>
      <div class="c-product--info-cta">
        <button v-on:click="addToCart" class="accent-color">GET STARTED</button>
        <button>SEE LAB RESULTS</button>
      </div>
    </div>
  </div>