<div class="center">
    <h2>Feel the benefits.</h2>
    <div class="slider">
        <div class="flex-c jcai">
            <img src="https://ucarecdn.com/24444b2e-ddce-490f-ad9b-9de6d2f494bb/cropped1.jpg" alt="">
           <div class="slider-img-text">
                <p>SLEEP</p>
                <h2>Sleep tight and wake up refreshed.</h2>
                <p>Studies show CBD taken at least an hour before bed can improve insomnia and promote a restful nights sleep.</p>
           </div>
        </div>
        <div class="flex-c">
            <img src="https://ucarecdn.com/b72695cf-38c9-4e2b-bed2-be2f90c8fe0f/cropped2.jpg" alt="">
            <div class="slider-img-text">
                <p>ANXIETY</p>
                <h2>Find your peace and stillness</h2>
                <p>Studies in animals and humans have observed reduced symptoms of general anxiety, PTSD, and social anxiety disorder.</p>
           </div>
        </div>
        <div class="flex-c jcai">
            <img src="https://ucarecdn.com/27d5219b-e484-47ba-9a41-ac1302ec44b7/cropped3.jpg" alt="">
            <div class="slider-img-text">
                <p>PAIN</p>
                <h2>Get Back To What You Love</h2>
                <p>CBD has been shown to reduce inflammatory pain as well as decrease oxidative stress in the body.</p>
           </div>
        </div>
        <div class="flex-c jcai">
            <img src="https://ucarecdn.com/4c449a58-65b7-463d-9fdb-8dc85ef7d959/letanYSN4xhXuPigunsplash.jpg" alt="">
            <div class="slider-img-text">
                <p>DISTRACTION</p>
                <h2>Concentrate on What's Important</h2>
                <p>By reducing the noise around you, CBD allows you to focus on the things that matter most.</p>
           </div>
        </div>
    </div>
</div>

<script>
    $('.slider').slick({
        dots: true,
        infinite: true,
        speed: 300,
        slidesToShow: 3,
        centerMode: true,
        prevArrow: false,
        nextArrow: false,
          responsive: [
        {
        breakpoint: 900,
        settings: {
            centerMode: true,
            slidesToShow: 1
        }
        }
  ]

    });
</script>


