@font-face {
    font-family: 'Bebaskai';
    src: url('./Bebas.ttf');
  }
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;

}

html {
    scroll-behavior: smooth;
  }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
    max-width: 100%;
    position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2,p,button,a {
        color: white;
        font-family: 'Avenir';
        border: none;
        line-height: 1em;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    background-color: transparent;
    cursor: pointer;
}


.light {
    opacity: 0.8;
}

.opacity-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
}

.flex {
    display: flex;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.jc {
    justify-content: center;
}

.ai {
    align-items: center;
}

.jcai {
    justify-content: center;
    align-items: center;
}


.bold {
    font-weight: bold;
}

.green {
    color: #8a946c;
}

.peace-accent {

    

    .c-product--icond {
        img {
            filter: invert(80%) sepia(25%) saturate(440%) hue-rotate(187deg) brightness(91%) contrast(90%);
        }
    }

    .accent-border {
        border: 2px solid #abbddd;
    }

    
    
    
    .accent-bg-light {
        background-color: #e6ebf5;
    }
    
    .accent-bg {
        background-color: #abbddd;
    }
    .active-bg {
        border: 2px solid #78849b;
        background-color: #e6ebf5 !important;
    }

    .dark-color {
        color: #78849b;
    }

    .not-active-bg {
        &:hover {
            background-color: #e6ebf5 !important;
        }
    }
}


.sleep-accent {

    .c-product--icons {
        img {
            filter: invert(98%) sepia(18%) saturate(2376%) hue-rotate(293deg) brightness(93%) contrast(85%);
        }
    }

    .accent-border {
        border: 2px solid #ddb0a7;
    }

    
    
    .accent-bg-light {
        background-color: #f5e7e5;
    }
    
    .accent-bg {
        background-color: #ddb0a7;
    }
    .active-bg {
        background-color: #f5e7e5 !important;
        border: 2px solid #b18d86;
    }
    .not-active-bg {
        &:hover {
            background-color: #f5e7e5 !important;
        }
    }

    .dark-color {
        color:  #b18d86;
    }
}

.focus-accent {

    .c-product--icons {
        img {
            filter: invert(88%) sepia(44%) saturate(2274%) hue-rotate(315deg) brightness(97%) contrast(88%);
        }
    }

    .accent-border {
       border: 2px solid#eaad59;
        
    }

    .accent-bg-light {
        background-color: #f9e6cd;
    }

    .accent-bg {
        background-color: #eaad59;
    }

    .active-bg {
        background-color: #f9e6cd !important;
        border: 2px solid #bb8a47;
    }

    .not-active-bg {
        &:hover {
            background-color: #f9e6cd !important;
        }
    }

    .dark-color {
        color: #bb8a47;
    }


    .c-product--atc {
        button {
            background-color: #eaad59;
        }
    }

    .c-product--mg {
        div {
            border: 2px solid #eaad59;
        }
    }
}
.comfort-accent {

    .c-product--icons {
        img {
            filter: invert(71%) sepia(10%) saturate(6088%) hue-rotate(325deg) brightness(94%) contrast(84%);
        }
    }

    .accent-border {
        border: 2px solid #de8052;
    }

    .accent-bg-light {
        background-color: #f5d9cb;
    }

    .accent-bg {
        background-color: #de8052;
    }

    .active-bg {
        background-color: #f5d9cb !important;
        border: 2px solid #b26642;
    }

    .dark-color {
        color: #b26642;
    }

    .not-active-bg {
        &:hover {
            background-color: #f5d9cb !important;
        }
    }

    .c-product--atc {
        button {
            background-color: #de8052;
        }
    }

    .c-product--mg {
        div {
            border: 255px solid #de8052;
        }
    }
}

.items-container {
    position: relative;
}

.image-with-text-section {

    p {
        line-height: 40px;
        font-size: 18px;
        padding: 10px 0px;
    }
}


.product__wrapper {
    background-image: url("https://cdn.shopify.com/s/files/1/0271/1040/8271/t/7/assets/focus-big-bg.png?233");
    background-size: cover;
}

.product-img {
    max-height: 500px;
    width: auto;
    max-width: 100%;
    ;
}


//pdp css
.focus-bg {
    background-image: url('https://cdn.shopify.com/s/files/1/0271/1040/8271/t/7/assets/focus-big-bg.png?252');
    background-size: cover;
}

.peace-bg {
    background-image: url('https://cdn.shopify.com/s/files/1/0271/1040/8271/t/7/assets/peace-big-bg.png?252');
    background-size: cover;
}

.sleep-bg {
    background-image: url('https://cdn.shopify.com/s/files/1/0271/1040/8271/t/7/assets/sleep-big-bg.png?252');
    background-size: cover;
}

.comfort-bg {
    background-image: url('https://cdn.shopify.com/s/files/1/0271/1040/8271/t/7/assets/comfort-big-bg.png?252');
    background-size: cover;
}


.layer {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.c-product--container {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: flex-end;

    h2 {
        color: #563823;
    }
    
    p {
        font-family: 'Avenir';
    }

}

.c-product--price {
    display: flex;
    color: #563823;
    font-family: 'Avenir' !important;
    p {
        font-size: 18px;
        line-height: 18px;
        padding-right: 20px;
    }

    a {
        color: #563823;
        text-decoration: underline;
    }
}

.c-product--left {
    left: 0;
    z-index: 1;
    width: 56vw;
    margin-left: 3vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    img {
        align-self: center;
        max-width: 200px;
    }
}

.c-product--right {
    display: flex;
    flex-direction: column;
    margin-right: 3vw;
    width: 46vw;
    padding-left: 6vw;
    padding-right: 6vw;
    box-sizing: border-box;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 75px;
    margin-bottom: 75px;
    z-index: 10;
    background-color: white;
    position: relative;

    h2:first-of-type {
        margin-bottom: 0px;
        font-family: 'Avenir';
    }

    .free-ship {
        position: absolute;
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        text-align: center;
        top: 0;
        left: 0;
        background-color: #563823;
        font-weight: bold;
        opacity: 1;

        p {
            font-family: 'Avenir';
            color: white;
            line-height: initial;
            margin-bottom: 0px;
            padding-bottom: 0px;
            line-height: 28px;
            font-size: 17px;
            span {
                letter-spacing: 2px;
            }
        }
    }


    .c-product--right-block {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 100%;
        margin-top: 20px;

        h2 {
            line-height: 1.2;
            margin-top: 10px;
            margin-bottom: 15px;
        }

        .c-product--desc {
            p {
                color: #563823;
                line-height: 30px;
                padding-bottom: 10px;
                font-weight: bold;
            }
        }
        .c-product--mg {
            margin-bottom: 15px;
            color: #563823;

            & > p {
                font-weight: bold;
            }

            div {
                cursor: pointer;
                border-radius: 5px;
                max-width: 170px;
                height: 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                p {
                    margin: 0px;
                }
            }
 
        }

        .c-product--purchase {
            color: #563823;
            margin-bottom: 15px;

            & > div {
                cursor: pointer;
            }
            & > p {
                font-weight: bold;
            }

            & > div:nth-of-type(2) {
                display: flex;
                justify-content: space-between;
                padding: 15px;
                margin: 10px 0px;
                border-radius: 5px;

                p:first-of-type {
                    font-size: 18px;
                }

                p {
                    margin-left: 5px;
                    font-size: 24px;
                    line-height: 24px;
                    font-weight: bold;
                    margin-top: 0px;
                    margin-bottom: 0px;
                }

                div {
                    display: flex;
                    align-items: center;
                }
            }

            & > div:first-of-type {
                margin: 10px 0px;

                display: flex;
                border-radius: 5px;
                padding: 15px;
                justify-content: space-between;

                div:first-of-type {
                    p:first-of-type {
                        font-size: 18px;
                        font-weight: bold;
                        margin-bottom: 0px;
                    }
                }

                div:nth-of-type(2) {
                    display: flex;

                    p:first-of-type {
                        text-decoration: line-through;
                        color: #545455;
                    }

                    p:nth-of-type(2) {
                        margin-left: 5px;
                        font-size: 24px;
                        line-height: 24px;
                        font-weight: bold;
                        margin-top: 0px;
                    }
                }
            }
        }
    }

    .c-product--atc {
        button {
            font-family: 'Avenir';
            width: 100%;
            height: 60px;
            font-size: 18px;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    .free-shipping {
        color: #563823;
        margin-top: 10px;
    }
}


.reviews {
    margin-bottom: 5px;
}



.kilter {
    font-family: 'Bebaskai';
    letter-spacing: 1.5px;
}


.c-product--icons {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    img {
        filter: invert(41%) sepia(10%) saturate(1331%) hue-rotate(49deg) brightness(86%) contrast(79%);
    }
}

.c-product--icons > div {
    padding-top: 20px;
    display: flex;
    justify-content: center;
}

.c-product--icon {
    width: 40%;
    margin: 20px;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-top: 1px solid #565656;

    p {
        margin: 0px;
    }
}


#shopify-product-reviews {
    max-width: 1000px;
    margin: 0 auto !important;
}


.kilter {
    color: white;
    font-size: 32px;
    line-height: 32px;
}


