.peace-accent {
    background-color: #abbddd;
}
.sleep-accent {
    background-color: #ddb0a7;
}
.focus-accent {
    background-color: #eaad59;
}
.comfort-accent {
    background-color: #de8052;
}

.dark-header {
    h2 {
        color: black;
    }
    img {
        filter: invert(84%) sepia(100%) saturate(0%) hue-rotate(327deg) brightness(112%) contrast(100%);
    }
}

.c-shop {
    box-sizing: border-box;
}

.c-shop--prod {
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #ede4d9;

    p {
        color: black;
        font-size: 20px;
        padding: 5px 0px;
    }

    img {
        max-width: 90px;
    }

    .recommend {
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        margin-bottom: 20px;
    }
}

.c-shop--prod-info {
    margin-top: 20px;

    .c-shop--prod-info--title {
        padding-top: 10px;
        font-size: 36px;
        font-weight: bold;
    }

    span {
        padding: 0px 10px;
    }
}

.c-shop--prod-info--desc {
    text-align: center;
    margin: 10px 0px;
    max-width: 90%;
    line-height: 30px;
}

.review {
    margin-bottom: 10px;
}

.c-shop--prod-info--atc {
    width: 90%;
    margin: 20px 30px;
    padding: 20px 0px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 5px;

    opacity: 0.8;
    &:hover {
        opacity: 1.0;
    }
}

.c-shop--details {
    width: 100%;
}

.c-shop--details-other {
    margin-top: 10px;
    width: 90%;
    justify-content: space-between;
}

.c-shop--details-box {
    width: 27%;
    padding: 10px 5px;
    border-radius: 5px;
    text-align: center;
    opacity: 0.8;
    cursor: pointer;

    img {
        max-width: 20px;
        align-self: center;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(166deg) brightness(106%) contrast(105%);
    }
    &:hover {
        opacity: 1.0;
    }

    p {
        font-size: 16px;
        color: white;
        padding-right: 5px;
    }
}

