.peace-accent {
    background-color: #abbddd;
}
.sleep-accent {
    background-color: #ddb0a7;
}
.focus-accent {
    background-color: #eaad59;
}
.comfort-accent {
    background-color: #de8052;
}

.dark-header {
    h2 {
        color: black;
    }


    img {
        filter: invert(84%) sepia(100%) saturate(0%) hue-rotate(327deg) brightness(112%) contrast(100%);
    }
}

.c-shop {
    background-color: #ede4d9;
}

.c-shop--prod {
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #ede4d9;

    p {
        color: black;
        font-size: 20px;
        padding: 5px 0px;
    }

    img {
        max-width: 90px;
    }

    .recommend {
        font-family: 'Roboto Slab', serif;
        font-weight: bold;
        margin-bottom: 20px;
    }
}
 

.c-shop--whys {
    padding: 30px 25px;
    padding-top: 50px;
    padding-bottom: 0px;
    box-sizing: border-box;
    background-color: white;
    width: 100%;

    & > h2 {
        color: #8a946c;
        font-size: 40px;
        text-align: center;
        margin-bottom: 20px;
    }

    img {
        align-self: center;
        width: 50px;
        height: 70px;
        padding-right: 30px;
        filter: invert(59%) sepia(25%) saturate(387%) hue-rotate(34deg) brightness(92%) contrast(85%);
    }

    .c-shop--whys-block {
        width: 100%;
        padding-bottom: 40px;

        h2 {
            font-size: 24px;
            // color: #8a946c;
            color: black;
            margin-bottom: 10px;
        }
        p {
            font-size: 18px;
            color: black;
            opacity: 0.6;
        }
    }
}




.c-shop--pr {
    padding-top: 5px;
    flex-direction: column;
    a {
        color: black;
    }

    .reviews {
        span {
            padding: 0px 5px;
        }
    }
}

#shopify-product-reviews {
    margin-top: 25px auto !important;
    width: 100%;
    max-width: 1200px;
}

.spr-summary-actions-togglereviews,.spr-review-header-title,.spr-summary-caption {
    font-family: 'Roboto Slab';
}

.spr-container {
    margin-top: 25px;
}

.spr-review-content-body {
    line-height: 1.5em !important;
}

.c-shop--prod-info {
    margin-top: 20px;

    .c-shop--prod-info--title {
        padding-top: 10px;
        font-size: 36px;
        font-weight: bold;
    }

    span {
        padding: 0px 10px;
    }
}

.c-shop--prod-info--desc {
    text-align: center;
    margin: 10px 0px;
    max-width: 90%;
    line-height: 30px;
}

.review {
    margin-bottom: 10px;
}

.c-shop--prod-info--atc {
    width: 90%;
    margin: 20px 30px;
    padding: 20px 0px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 5px;

    opacity: 0.8;
    &:hover {
        opacity: 1.0;
    }
}

.c-shop--details {
    width: 100%;
}

.c-shop--details-other {
    margin-top: 10px;
    width: 90%;
    justify-content: space-between;
}

.c-shop--details-box {
    width: 27%;
    padding: 10px 5px;
    border-radius: 5px;
    text-align: center;
    opacity: 0.8;
    cursor: pointer;

    img {
        max-width: 20px;
        align-self: center;
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(166deg) brightness(106%) contrast(105%);
    }
    &:hover {
        opacity: 1.0;
    }

    p {
        font-size: 16px;
        color: white;
        padding-right: 5px;
    }
}



//mediaaaaa

@media only screen and (min-width: 1000px) {
    .c-shop--prod{
      flex-direction: initial;
      padding: 100px 120px;

      .c-shop--img {
          img {
              max-width: 160px;
            }
        }

      .recommend-mobile {
          display: none;
      }

      & > div {
          width: 50%;
      }

      .c-shop--prod-info--title {
        font-size: 48px;
      }

      .c-shop--prod-info--desc {
          font-size: 24px;
          line-height: 1.5em;
      }
    }


  }



  .center {
      background-color: #fff;
    font-family:Arial;
    display: block;
    margin:0 auto;
    box-sizing: border-box;
    padding-bottom: 30px;

    .slick-slide {
        margin: 0px 15px;
    }

    .slider-img-text {
        transition: 0.3s;
        opacity: 0;
    }

    .slick-active {
        .slider-img-text {
            opacity: 1.0;
        }
    }

    & > h2 {
        text-align: center;
        color: #8a946c;
        font-size: 32px;
        padding-bottom: 20px;
        font-family: 'Roboto Slab';
    }

    .slider {
        & > div {
            text-align: center;
            p {
                padding: 5px;
            }

            p:first-of-type {
                padding-top: 15px;
                color: #8a946c;
                font-weight: bold;
                padding-bottom: 5px;
            }

            h2 {
                padding-top: 5px;
                font-size: 24px;
                color: black;
                opacity: 0.8;
                line-height: 1.2em;
                margin-bottom: 10px;
            }

            p:last-of-type {
                opacity: 0.6;
                color: black;
                font-size: 18px;
                line-height: 1.7em;
                letter-spacing: 0.2px;
            }
        }
    }
    img {
        border-radius: 8px;
        width: 100%;
    }
  }


  @media only screen and (min-width: 950px) {
      .c-shop--whys {
          display: flex;
          justify-content: center;


          & > div {
              margin: 0px 60px;
          }
      }

      .c-shop--pr {
          padding-top: 0px;
          flex-direction: initial;
      }

      .spr-review-content-body {
          font-size: 18px !important;
      }
  }


  .spr-container {
      border: none !important
  }

  .fs-bar {
      margin-bottom: 10px;
      text-align: center;
      p {
          font-size: 14px;
          line-height: 1.5em;
      }
  }

.shop-learn-more {
    background-color: white;
    padding-bottom: 50px;

    a {
        background-color: #8a946c;
        color: white;
        padding: 20px 50px;
        border-radius: 5px;

        &:hover {
            opacity: 0.8;
        }
    }
}