<div class="c-quality">
    {% include 'header' %}
    <div class="c-quality--hero flex-c jcai">
        <div></div>
        <h2>We believe in transparency.</h2>
        <p>That's why we provide 3rd party lab results for every product to ensure quality.</p>
    </div>
    <div class="c-quality--info">
        <h2>Click on Any Product For Lab Results</h2>
        <div class="c-hp--links flex jcai">
        <div class="flex"> 
            <a target="_blank" href="https://ucarecdn.com/2f2e9a8f-2813-4e2e-bcaf-d81b07787229/peacelabtests.png" class="c-hp--link-peace flex jcai"><p>Anxiety</p><img src="https://ucarecdn.com/e37242fa-90f2-49c3-abd2-9c1c359f8120/happiness.png" alt=""></a>
            <a target="_blank" href="https://ucarecdn.com/4a385fef-0d20-4245-97fc-14f4d46e3686/focuslabtests.png" class="c-hp--link-focus flex jcai"><p>Focus</p><img src="https://ucarecdn.com/8a0b8510-5cc9-459e-be33-bc52ff482e52/idea.png" alt=""></a>
        </div>
        <div class="flex">
            <a target="_blank" href="https://ucarecdn.com/31ea083c-9208-4b25-9284-2ceeac11ef74/sleeplabtests.png" class="c-hp--link-sleep flex jcai"><p>Sleep</p><img src="https://ucarecdn.com/a9058dc3-b994-4ed3-a96d-bd6c01c4007c/moon.png" alt=""></a>
            <a target="_blank" href="https://ucarecdn.com/d21acbac-df8b-4995-a103-2ca10511f6d4/painlabtests.png" class="c-hp--link-comfort flex jcai"><p>Pain</p><img src="https://ucarecdn.com/5b16b137-13bf-4eeb-b73c-b0741cd770e5/heartbeat.png" alt=""></a>
        </div>
    </div>
    </div>
    {% include 'footer' %}
</div>
