<div class="c-help">
    {% include 'header' %}
    <div class="c-help--top flex-c jcai">
        <h2>We'd love to hear from you.</h2>
        <p>Many <a href="#faq">Frequently Asked Questions</a> are answered below. If you have other questions, need some help with CBD, or just want to chat, you can reach us anytime.</p>
        <div class="c-help--top-boxes flex jcai">
            <a href="mailto:help@kilter.life" class="flex-c jcai">
                <h2>Email Us</h2>
                <p>help@kilter.life</p>
            </a>
            <a href="tel:385-535-2158"class="flex-c jcai">
                <h2>Call Us</h2>
                <p>385-535-2158</p>
            </a>
        </div>
    </div>
    {% include 'faq' %}
</div>

<script>
 $('.c-header').addClass('dark-header')
</script>