<div class="c-learn">
    {% include 'header' %}
    <div class="c-learn--hero flex-c jcai">
        <div></div>
        <h2>What is CBD?</h2>
        <p>CBD (cannabidiol) is one of more than 113 active compounds found in the hemp plant called cannabinoids. It works to naturally reduce anxiety, pain, and sleep issues without any mind altering effects or "high" for the person using it.</p>
    </div>
    <div class="c-learn--how flex-c jcai">
        <p>HOW IT WORKS</p>
        <h2>A Human Connection</h2>
        <p>The human body's endocannabinoid system consists of tiny receptors that play a key role in regulating mood, pain and everyday experience. CBD helps these receptors do what's needed in order to stimulate all kinds of beneficial changes throughout the body. You could even say our bodies are hard-wired to benefit from CBD.</p>
        <div>
            <img src="https://ucarecdn.com/895c10cb-053b-45b9-91c3-f6c24e24c318/http___pluspngcom_imgpng_pnghumanbodyoutlinefilemanshadowupperpng722.png" alt="">
            <div class="color-dot dot-1"></div>
            <div class="color-dot dot-2"></div>
            <div class="color-dot dot-3"></div>
            <div class="color-dot dot-4"></div>
            <div class="color-dot dot-5"></div>
        </div>
    </div>
    <div class="c-learn--vs flex-c jcai">
        <p>SPECTRUM VS ISOLATE</p>
        <h2>The Best Approach</h2>
        <p class="light-6">Spectrum or whole plant–CBD is so called because it contains all forms of cannabinoid available in the plant, whereas Isolate CBD only contains Cannabidiol.</p>
        <p class="light-6">Due to what’s known as the “entourage effect,” full spectrum CBD is considered to be much more effective.</p>
        <div class="flex jcai">
            <div class="flex jcai"><p>CBD</p></div>
            <div class="flex jcai"><p>CBDV</p></div>
            <div class="flex jcai"><p>CBG</p></div>
            <div class="flex jcai"><p>CBC</p></div>
            <div class="flex jcai"><p>CBN</p></div>
            <div class="flex jcai"><p>CBDA</p></div>
            <div class="flex jcai"><p>THC</p></div>
        </div>
    </div>
    <div class="c-learn--tincture">
        <p>WHY A TINCTURE</p>
        <h2>It's Most Effective</h2>
        <p>Taking CBD sublingually (under the tonuge) is the best way to have CBD start working the quickest and last the longest. It is also the most cost effective and safest way to take CBD making it the clear choice for us</p>
        <img src="https://ucarecdn.com/7255806a-60ea-479a-a0e3-e7c3cf374fbc/goodasshand1.png" alt="">
    </div>
    <div class="c-learn--article flex-c jcai">
        <h2>It's Not Just Us Talking</h2>
        <div class="flex-c jcai">
            <img src="https://ucarecdn.com/3c447740-3452-4fed-bebb-3e4838a543dc/HealthlineLogoBlack1024x165.png" alt="">
            <p>"In one Brazilian study, 57 men received either oral CBD or a placebo 90 minutes before they underwent a simulated public speaking test. The researchers found that a 30-mg dose of CBD was the most effective at significantly reducing anxiety during the test."</p>
        </div>
        <div class="flex-c jcai">
            <img src="https://ucarecdn.com/9a3a955a-c33b-4bef-a311-0d2a01bcb653/harvardyeet.png" alt="">
            <p>"CBD is commonly used to address anxiety, and for patients who suffer through the misery of insomnia, studies suggest that CBD may help with both falling asleep and staying asleep."</p>
        </div>
        <div class="flex-c jcai">
            <img src="https://ucarecdn.com/4ab80eaf-5503-4592-a06a-4f2da2c4858b/nyt.png" alt="">
            <p>“CBD has also shown promise to reduce cravings among people addicted to opioids, according to a study published in Neurotherapeutics in 2015.”</p>
        </div>
    </div>
    {% include 'footer' %}
</div>
